*{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    display: flex;
    background-color: #1b1719;
}
.header1{
    width: 13%;
}
.header2{
    width: 50%;
    border-left: 1px solid #7b7575;
}
.header3{
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 0.010rem;
}
.header4{
    width: 20%;
    display: flex;
    justify-content: center;
}
.header3>a>img{
    width: 30px;
    height: 27px;
    margin: 0.4rem;
}
.header1>div>h5{
    color: aliceblue;
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    font-family: sans-serif;
    font-weight: 200;
}
.header1>div>h5>span{
    color: #fec325!important;
}
.header2>marquee{
    color: #fff;
    font-size: 0.8rem;
    margin-top: 1rem;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
form.exmple input{
    width: 60%;
    height: 20px;
    margin-top: 0.8rem;
    font-family: sans-serif;
}
form.exmple button{
    background-color: #fec325;
    width: 35%;
    height: 28px;
    margin-left: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    border-color: #fec325;
}
.header-second{
    background-color: #1b1719;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.header-second>.logo{
    width: 13%;
}
.header-second>.navbar{
    width: 75%;

}
.header-second>.navbar>ul{
    display: flex;
    justify-content: space-evenly;
    
}
.navbar>ul>li{
    list-style: none;
    border-left: 1px solid #3e3e3e;
}
.navbar>ul>li>a{
    font-family: sans-serif;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 4rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 0 1rem;
}
.section-content{
    display: flex;
    justify-content: center;
}
.sec-content1{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}
.press{
    display: flex;
    margin-top: 3rem;
    text-transform: uppercase;
    border-bottom: 1px solid #e3e3e3;
    padding: 1rem 0rem;
}
.press>a{
    margin-left: 15rem;
}
.press--photo{
    display: flex;
    justify-content: space-between;
}
.press-photo{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}
.press-photo>span{
    margin-top: 0.5rem;
    text-transform: capitalize;
    font-size: 0.8rem;
    font-weight: 600;
}
.press-photo>h4{
    margin-top: 0.5rem;
}
.press-photo>p{
    margin-top: 0.5rem;
    text-align: justify;
    max-width: 20rem;
    
}
.press-photo1{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}
.press-photo1>span{
    margin-top: 0.5rem;
    text-transform: capitalize;
    font-size: 0.8rem;
    font-weight: 600;
}
.press-photo1>h4{
    margin-top: 0.5rem;
}
.press-photo1>p{
    margin-top: 0.5rem;
    text-align: justify;
    max-width: 20rem;
}
.sec-content2{
    width: 40%;
    margin-left: 2rem;
    margin-top: 2rem;
}
.sec-image{
    display: flex;
    justify-content: space-between;
}
.sec-image2{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}